.MuiContainer-root, .MuiContainer-root[style] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background: var(--mui-palette-background-default);
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
